:root {
    --bg-color: #424549;
    --font-color: black;
}

/****************************************/
/******** Header, Avatar and Logo *******/

.index-header-container {
    display: grid;
    grid-template-areas: "avatar text logo"; 
    background-color: black;
    width: 100%;
    align-items: center;
}

.index-header-text {
    text-align: center;
    color: white;
    grid-area: text;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.avatar {
    grid-area: avatar;
    justify-self: left;
    height: 5rem;
    border: 3px solid #6441a5;
    border-radius: 50%;
    margin-left: 2rem;
}

.twitch-logo {
    grid-area: logo;
    justify-self: right;
    height: 5rem;
    margin-right: 2rem;
}

.twitch-logo:hover {
    transform: rotate(20deg);
}

/**************************************/
/******** Main body and related *******/

body {
    background-color: var(--bg-color);
    font-size: 100%;
    margin: 0;
    color:var(--font-color);
    font-family: 'Open Sans', sans-serif;
}

/* Setting boundaries as well as general content alignment */
.index-main {
    display: flex;
    flex-direction: row;
    flex-flow:row; /*new design 18.03.2021*/
    /*flex-direction: column;  old design */
    justify-content: center;
    margin: 1em 3em;
}

.summary-main {
    margin: 1rem 3rem;
    justify-content: left;
    color: white;
}

.summary-grid {
    display: grid;
    grid-template-columns: 550px auto;
    gap: 2rem;
    border-bottom: 2px solid black;
    border-radius: 3px;
    padding-bottom: 2rem;
}



/* Main Grid for keeping video left & logo + text right */

/* Grid within right logo/text column */
.grid-logo-text {
    display: grid;

    /* grid-template-columns: auto auto;  old design */
    /* new design 18.03.2021 */
    grid-template-rows: max-content;
    grid-template-columns: minmax(0,400px);
    /* gap: 2rem old design */
    align-items: flex-start;
    justify-items: center;
    margin: 0.5rem 0.5rem;
    height: max-content;
    width: max-content;
    background-color: #bbbbbb;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    padding: 1rem;

}

/* needs comments and general categorization */


.index-table {
    margin-left: 0.5rem;
    border-collapse: separate;
    border-spacing: 0px 3px;
    text-align: left;
}

.index-table td {
    letter-spacing: 1px;
    vertical-align: top;
}


.index-video-container {
    justify-self: right;
    align-self: center;
}

.index-img {
   justify-self: left;
   
   padding-bottom: 1rem;
}

ul {
    list-style-image: url('resources/Cursor.gif');
    margin-top: 0.2rem;
    padding-left: 30px;
}

.stream-summary-ul {

}

.stream-summary-ul li {
    padding-bottom: 3px;
}

.index-stats {
    width: auto;
}

li {
    letter-spacing: 1px;
}

.index-video {
    box-shadow: 5px 5px 10px black;
}

.thoughts-link {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    letter-spacing: 1px;
    
}

.summary-logo-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point-of-interest {
    margin-left: 0.5rem;
}

@media screen and (max-width: 1450px) {
    .summary-main {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .summary-grid {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

@media screen and (max-width: 950px) {


    .index-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index-header-text {
        font-size: 2rem;
    }

    .index-img {
        align-self: center;
        justify-self: center;
    }

    .avatar {
        height: 2.5em;
    }

    .twitch-logo {
        height: 2.5em;
    }

    .grid-section {
        justify-content: center;
        align-content: center;
    }

    .index-stats-container {
        justify-self: center;
    }


    .index-img {
        order: -1;
    }

    .index-video-container {
        order: 2;
    }

    .index-stats {
        order: 3;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }

    .index-main {
        margin: 1em 1em;
    }

    .index-header-text {
        font-size: 1rem;
    }

    .index-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .index-table {
        width: 60%;;
        border-spacing: 5px 3px;
    }
}