:root {
    --bg-color: #424549;
    --font-color: black;
}

/* NEEDS A TON OF PRUNING TO SEE WHAT IS STILL USED AND SO ON AND SO FORTH LMAO */

/****************************************/
/******** Header, Avatar and Logo *******/

html {
    overflow-y: scroll;
    background: url('./resources/xb_blur.webp') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-header-container {
    display: grid;
    grid-template-areas: "avatar text logo"; 
    background-color: black;
    width: 100%;
    align-items: center;
}

.index-header-text {
    text-align: center;
    color: white;
    grid-area: text;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.avatar {
    grid-area: avatar;
    justify-self: left;
    height: 5rem;
    border: 3px solid #6441a5;
    border-radius: 50%;
    margin-left: 2rem;
}

.twitch-logo {
    grid-area: logo;
    justify-self: right;
    height: 5rem;
    margin-right: 2rem;
}

.twitch-logo:hover {
    transform: rotate(20deg);
}

/**************************************/
/******** Main body and related *******/

body {
    /*background-color: var(--bg-color);*/
    font-size: 100%;
    margin: 0;
    color:var(--font-color);
    font-family: 'Open Sans', sans-serif;
}

/* Setting boundaries as well as general content alignment */
.index-main {
    display: flex; 
    flex-direction: column; 
    margin-top: 1rem; 
    margin-left: 5rem; 
    margin-right: 5rem; 
}

.index-completed-games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: min-content;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;

    /*display: flex;
    flex-direction: row;
    flex-flow:row; *//*new design 18.03.2021*/
    /*flex-direction: column;  old design */
    /*justify-content: center;
    
    flex-wrap:wrap;*/
}

.index-section {
    background-color: var(--bg-color); 
    margin-bottom: 3rem; 
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}

.index-section h2 {
    color: white; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.maybe-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 638px);
    grid-template-rows: min-content;
    align-content: center;
    justify-content: center;
    margin: 1em 5em;

}

.maybe-item-display {
    display: grid;
    grid-template-columns: auto 320px;
    grid-template-rows: 370px;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
    /*border-bottom: 1px solid black;*/
}

.maybe-text-blurb {
    align-self: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 2px 2px 20px black;
}

.summary-main {
    margin: 1rem 3rem;
    justify-content: left;
    color: white;
}

.summary-text-area {
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 20px;
}

.stream-summary-ul {

}

.summary-point-discussion {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: min-content;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;

    /*display: flex;
    flex-direction: row;
    flex-flow:row; *//*new design 18.03.2021*/
    /*flex-direction: column;  old design */
    /*justify-content: center;
    
    flex-wrap:wrap;*/
}


.stream-summary-ul li {
    padding-bottom: 25px;
}

.summary-video-stats-container {
    display: flex;
    justify-content: center;
    /*border-bottom: 2px solid black;*/
}

.summary-grid {
    display: grid;
    grid-template-columns: 640px auto;
    gap: 2rem;
    border-radius: 3px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.summary-table {
    border-collapse: separate;
    border-spacing: 10px 5px;
    text-align: left;
}


.summary-section {
    background-color: var(--bg-color); 
    margin-bottom: 3rem; 
    margin-right: 2rem;
    height: min-content;
    width: 320px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    
}

.spoiler {
    background-color: black;
    color: black;
}

.spoiler:hover {
    background-color: none;
    color: white;
}




.summary-section h2 {
    color: white; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.summary-section li {
    padding-bottom: 10px;
}

.summary-table td {
    letter-spacing: 1px;
    vertical-align: top;
}

.summary-stats {
    width: auto;
    align-self: center;
}
.main-card-hyperlink {
    color: black;
    text-decoration: none;
    width: min-content;
    height: min-content;

}


/* Main Grid for keeping video left & logo + text right */

/* Grid within right logo/text column */
.grid-logo-text {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* needs comments and general categorization */

.main-card {
    background-color: white; 
    box-shadow: 2px 2px 20px black;

    padding: 1rem; 
    margin: 1rem;

    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-items: center; 
    
    border-radius: 5px;

    height: min-content;
    width: min-content;
}

.main-card-text-styling {
    display: flex;
    justify-content: center;
}



.index-video-container {
    justify-self: right;
    align-self: center;
}

.index-img {
   justify-self: left;
   padding-bottom: 1rem;
}

.maybe-img {
    justify-self: center;
    align-self: center;
}

ul {
    list-style-image: url('resources/Cursor.gif');
    padding-left: 30px;
    margin-bottom: 0;
}


li {
    letter-spacing: 1px;
}

.index-video {
    box-shadow: 5px 5px 10px black;
}

.thoughts-link {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0.5rem;
    letter-spacing: 1px;
    
}

.summary-logo-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point-of-interest {
    margin-left: 0.5rem;
}


/* Silmeria css stuff */
.vp-sil-section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 70px;
}


#accessory_section img:hover {
    border: 2px solid white;
    box-sizing: border-box;
}

#accessory_section img {
    margin: 0.5rem;
}

.accessory-image {
    border: 2px solid white;
    box-sizing: border-box;
}

.accessory-blue-result {
    border-left: 2px solid blue;
    margin-bottom: 2rem;
  
}

.accessory-red-result {
    border-left: 2px solid red;
    margin-bottom: 2rem;
    
}

.accessory-green-result {
    border-left: 2px solid green;
    
}




@media screen and (max-width: 1450px) {
    
    .summary-text-area {
        margin-left: 0;
        margin-right: 0;
    }

    .summary-main {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .summary-grid {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

@media screen and (max-width: 954px) {

    

    .index-header-text {
        font-size: 2rem;
    }

    .index-img {
        align-self: center;
        justify-self: center;
    }

    .avatar {
        height: 2.5em;
    }

    .twitch-logo {
        height: 2.5em;
    }

    .grid-section {
        justify-content: center;
        align-content: center;
    }

    .index-stats-container {
        justify-self: center;
    }


    .index-img {
        order: -1;
    }

    .index-video-container {
        order: 2;
    }

    .index-stats {
        order: 3;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }

    .maybe-text-blurb {
        width: 350px;
    }

    .maybe-item-display {
        display: flex;
        grid-template-columns: min-content;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding: 1.5rem;
        border-bottom: 1px solid black;
    }

    .index-completed-games {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .index-main {
        margin: 1em 1em;
    }

    .index-header-text {
        font-size: 1rem;
    }

    .index-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}