:root {
    --bg-color: #E9E1F2;
    --standard-font: Arial, Helvetica sans-serif;
    --font-color: black;
}

.index-header {
    background-color: black;
    width: 100%;
}

.index-header div {
    display: grid;
    grid-template-areas: "avatar text logo";
    align-items: center;
    
    
}

.twitch-logo {
    grid-area: logo;
    justify-self: right;
    align-self:baseline;
    height: 5rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.index-h1 {
    display: block;
    font-style: var(--standard-font);
    text-align: center;
}

.twitch-logo:hover {
    transform: rotate(20deg);
}

.avatar {
    grid-area: avatar;
    float: left;
    height: 5rem;
    border: 3px solid #6441a5;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

body {
    background-color: var(--bg-color);
    font-size: 100%;
    margin: 0;
    color:var(--font-color);
    font-family: Arial, Helvetica, sans-serif;


}

.index-heading {
    text-align: center;
}

.index-img {
   justify-self: left;
}

.index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 4em;
}

.grid-section {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.index-video-container {
    justify-self: right;
    align-self: center;
}

.index-video {
    box-shadow: 5px 5px 10px black;
}

.index-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.index-stats-container {
    display: block;
    justify-self: left;
    align-self: center;
    
}

@media screen and (max-width: 800px) {
    .index-section {
        display: flex;
        flex-direction: column;
        align-content: center;
    }


    .index-game-logo {
        order: -1;
        justify-self: center;
        border-right: 0;
        border-bottom: 3px solid black;
    }

    .index-video-container {
        order: 2;
    }

    .index-stats {
        order: 3;
    }
}